@import "vars";

.clickable {
    cursor: pointer;
}
.button {
    border: none;
    font-size: 13px;
    border-radius: 50px;
    text-transform: uppercase;
    color: $fifthColor;
    padding: 20px 45px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
        &.btn-standard {
            background: linear-gradient(90deg, $secondaryColor, $mainColor);
            box-shadow: 3px 3px 15px 0 $sixthColor;
            &:hover{
                background: linear-gradient(90deg, $thirdColor, $fourthColor);
                box-shadow: 3px 3px 15px 0 $sixthColor;
                color: $fifthColor;
            }
        }
        &.btn-reverse {
            background: linear-gradient(90deg, $thirdColor, $fourthColor);
            box-shadow: 3px 3px 15px 0 $sixthColor;
            &:hover{
                background: linear-gradient(90deg, $secondaryColor, $mainColor);
                box-shadow: 3px 3px 15px 0 $sixthColor;
                color: $fifthColor;
            }
        }
}

.text-main {
    color: $mainColor;
}