@import "vars";

.clickable {
    cursor: pointer;
}
.btn-standard {
    border: none;
    font-size: 14px;
    padding: 15px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(90deg, rgba(157,226,100,1) 0%, rgba(2,217,164,1) 100%);
    box-shadow: 6px 6px 25px 2px rgba(2,217,164,0.36);
    &:hover{
        color: white;
        background: linear-gradient(90deg, rgba(70,70,70,1) 0%, rgba(12,12,12,1) 100%);
        box-shadow: 6px 6px 25px 2px rgba(43, 46, 45, 0.36);
    }
}
.text-main {
    color: $mainColor;
}